<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="./config-server/logs"/>
    <property name="APP_NAME" value="config-server"/>

    <!-- no need to add path; logback will scan starting from the top directory-->
    <include resource="logback-common.xml"/>

</configuration>